@import '../variables';

:local(.exampleApp) {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
}