@import '../variables';

:local(.container) {
  align-items: center;
  border-bottom: 1px;
  display: flex;
  flex-shrink: 0;
  height: 65px;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

:local(.logo) {
  padding: 0 16px;
}

:local(.searchNavBar) {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 8px;
  width: 100%;
}